  body { 
    font-family: Helvetica,sans-serif;
    color: black;
    background-color: white;
    margin: 15px 50px;
    text-align: justify;
    width: 780px;
    font-size: 90%;  
    }

  h1 {
    color: white;
    background-image: url(img/header_bg01.png);
    width: 680px;
    height: 60px;
    padding: 50px 50px 10px 50px;
    margin: 0px;
    text-align: left;
  }

  a:link, a:visited, a:link:active { 
    text-decoration: none;
    color: maroon;
  }

  a:link:hover, a:visited:hover { 
    text-decoration: underline;
    color: red;
  }
    
  div#main {
    max-width: 480px;
    border-right: 1px solid silver;
	 padding: 1em 1.5em;
	 float: left;
    margin-bottom: 1em;
  }

  div.side {
    margin: 0em 1.5em 1.5em 1em;
    font-size: smaller;
    float: right;
	width: 200px;
    }
	
  h1.side, h2.side, h3.side, h4.side {
    border-bottom-style: solid; 
	border-bottom-color: #933;
    border-width: 1px; 
	margin-bottom: -.5em;
  }

  p.side {
	margin: 1em 0.5em;
    text-align: left;
	padding: 0em;
  } 

  ul#sideMenu, ul#sideMenu a, ul#sideMenu span { 
    text-decoration: none;
    font-weight: normal;
    color: maroon;
	margin-left: 0.5em;
	padding: 0em;
  }

  ul#sideMenu li { 
    list-style-type: none;
  }

  ul#sideMenu a:hover, ul#sideMenu span { 
	  color: red;
  }

  span#headline {
    color: maroon; 
	font-weight: bold;
  }

  div#footer {
    border-width: 1px; 
    border-top-color: gray; 
    border-top-style: solid; 
    margin: 2em 0 0 0; 
    clear: both;
  }

  div#abstract { 
    margin: 0em 0em 0.5em 1em;
    font-style: italic;
    max-width: 680px;
  }

  ul#menu { 
    border-width: 1px;
    margin: 0pt 0pt 0.5em;
    padding: 0pt 0pt 0pt 3em;
    text-align: left;
  }

  ul#menu li { 
    margin: 0.5em;
    padding: 0pt;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    display: inline;
  }

  ul#menu a, ul#menu span { 
	padding: 0em 0.2em;
    text-decoration: none;
    font-weight: normal;
    font-size: smaller;
    color: maroon;
  }

  ul#menu a:hover, ul#menu span { 
	  color: red;
  }
